## ESERCIZIO 1

Tra i beginner datasets scaricabili all'indirizzo https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets  
selezioniamo *amazon.csv*, un dataset contenente una serie di recensioni su Amazon:
- Valutiamo la dimensione del dataset
- Osserviamo quali sono i nomi di colonna
- Visualizziamo dieci righe a caso
- Il dataset è bilanciato, ovvero: il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [1]:
import pandas as pd

In [2]:
file_path = "beginner_datasets/amazon.csv"

In [3]:
dataset_amz = pd.read_csv(file_path)

In [4]:
dataset_amz

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

In [5]:
    dataset_amz.shape # le dimensioni sono 20000x2

(20000, 2)

In [6]:
dataset_amz.columns

Index(['reviewText', 'Positive'], dtype='object')

In [7]:
dataset_amz.sample(5) # Valuto 5 righe casuali

                                              reviewText  Positive
2912   welll I never played this game but seems reall...         0
12307  Especially with the latest updates. I use the ...         1
4333   app is as advertrised. it is simple to use and...         1
12164  Love this alarm clock app.. love the different...         1
10102  As a professional writer, i look for writing a...         1

In [8]:
dataset_amz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reviewText  20000 non-null  object
 1   Positive    20000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

In [9]:
dataset_amz["Positive"].value_counts() # il dataset non è bilanciato perchè ho un rapporto 3:1 fra recensioni posite e negative

Positive
1    15233
0     4767
Name: count, dtype: int64

## ESERCIZIO 2

Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti.
- Osserviamone le dimensioni e un'anteprima di cinque righe;
- Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne;
- Stampiamo dei descrittori statistici del dataset;
- Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;
- Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?

In [10]:
import pandas as pd

In [11]:
file_path = "beginner_datasets/diabetes.csv"

In [12]:
df_diab = pd.read_csv(file_path)

In [13]:
df_diab.shape # dimensioni del df

(768, 9)

In [14]:
df_diab.head(5) # anteprima prime 5 righe

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [15]:
df_diab.columns

Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

In [16]:
df_diab.info() # check sui metadati che NON contengono valori nulli

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [17]:
df_diab.describe() # anteprima descrittori statistici del df

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
FILTRO_1 = ((df_diab["Age (years)"]) >= 20) & ((df_diab["Age (years)"]) < 30)

In [19]:
df_diab.loc[FILTRO_1]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
20,3,126,88,41,235,39.3,0.704,27,0
23,9,119,80,35,0,29.0,0.263,29,1
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
764,2,122,70,27,0,36.8,0.340,27,0
767,1,93,70,31,0,30.4,0.315,23,0

In [20]:
FILTRO_2 = ((df_diab["Age (years)"]) >= 30) & ((df_diab["Age (years)"]) < 40)

In [21]:
df_diab.loc[FILTRO_2]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
10,4,110,92,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
748,3,187,70,22,200,36.4,0.408,36,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
762,9,89,62,0,0,22.5,0.142,33,0
765,5,121,72,23,112,26.2,0.245,30,0

In [22]:
FILTRO_3 = ((df_diab["Age (years)"]) >= 40) & ((df_diab["Age (years)"]) < 50)

In [23]:
df_diab.loc[FILTRO_3]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
22,7,196,90,0,0,39.8,0.451,41,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
34,10,122,78,31,0,27.6,0.512,45,0
37,9,102,76,37,0,32.9,0.665,46,1
...,...,...,...,...,...,...,...,...,...
743,9,140,94,0,0,32.7,0.734,45,1
745,12,100,84,33,105,30.0,0.488,46,0
754,8,154,78,32,0,32.4,0.443,45,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

In [24]:
df_diab_20_29 = df_diab.loc[FILTRO_1]

In [25]:
df_diab_30_39 = df_diab.loc[FILTRO_2]

In [26]:
df_diab_40_49 = df_diab.loc[FILTRO_3]

In [27]:
df_diab_20_29["Diastolic blood pressure (mm Hg)"].mean()

np.float64(65.34848484848484)

In [28]:
df_diab_30_39["Diastolic blood pressure (mm Hg)"].mean()

np.float64(69.66666666666667)

In [29]:
df_diab_40_49["Diastolic blood pressure (mm Hg)"].mean()

np.float64(73.94067796610169)

## ESERCIZIO 3

Esercizio Il dataset *insurance.csv* contiene dati rispetto a caratteristiche e abitudini delle persone, e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
- Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
- Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
- E rispetto a smoker? E a sex?
- Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [30]:
file_path = "beginner_datasets/insurance.csv"

In [31]:
df_ins = pd.read_csv(file_path)

In [32]:
df_ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [33]:
df_ins.shape

(1338, 7)

In [34]:
df_ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [35]:
df_ins.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [36]:
df_ins.nunique()

age           47
sex            2
bmi          548
children       6
smoker         2
region         4
charges     1337
dtype: int64

In [37]:
df_ins["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [38]:
FILTRO_SW = df_ins["region"] == "southwest"

In [39]:
df_ins.loc[FILTRO_SW]

      age     sex   bmi  children smoker     region      charges
0      19  female  27.9         0    yes  southwest  16884.92400
12     23    male  34.4         0     no  southwest   1826.84300
15     19    male  24.6         1     no  southwest   1837.23700
18     56    male  40.3         0     no  southwest  10602.38500
19     30    male  35.3         0    yes  southwest  36837.46700
...   ...     ...   ...       ...    ...        ...          ...
1316   19  female  20.6         0     no  southwest   1731.67700
1329   52    male  38.6         2     no  southwest  10325.20600
1331   23  female  33.4         0     no  southwest  10795.93733
1332   52  female  44.7         3     no  southwest  11411.68500
1336   21  female  25.8         0     no  southwest   2007.94500

[325 rows x 7 columns]

In [40]:
df_sw = df_ins.loc[FILTRO_SW]

In [41]:
df_sw["charges"].mean()

np.float64(12346.937377292308)

In [42]:
FILTRO_SE = df_ins["region"] == "southest"

In [43]:
df_se = df_ins.loc[FILTRO_SE]

In [44]:
df_se["charges"].mean()

nan

In [45]:
FILTRO_NE = df_ins["region"] == "northeast"

In [46]:
df_ne = df_ins.loc[FILTRO_NE]

In [47]:
df_ne["charges"].mean()

np.float64(13406.384516385804)

In [48]:
FILTRO_NW = df_ins["region"] == "northwest"

In [49]:
df_nw = df_ins.loc[FILTRO_NW]

In [50]:
df_nw["charges"].mean()

np.float64(12417.57537396923)

In [51]:
df_ins["smoker"]

0       yes
1        no
2        no
3        no
4        no
       ...
1333     no
1334     no
1335     no
1336     no
1337    yes
Name: smoker, Length: 1338, dtype: object

In [52]:
filtro = df_ins["smoker"] == "yes"

In [53]:
df_ins.loc[filtro, "charges"].mean()

np.float64(32050.23183153284)

In [54]:
filtro = df_ins["smoker"] == "no"
df_ins.loc[filtro, "charges"].mean()

np.float64(8434.268297856204)

In [55]:
df_ins["sex"].unique()

array(['female', 'male'], dtype=object)

In [56]:
filtro = df_ins["sex"] == "male"
df_ins.loc[filtro, "charges"].mean()

np.float64(13956.751177721893)

In [57]:
filtro = df_ins["sex"] == "female"
df_ins.loc[filtro, "charges"].mean()

np.float64(12569.578843835347)

In [58]:
df_ins.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [59]:
df_ins["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [60]:
filtro1 = df_ins["bmi"] >= 15.96
filtro2 = df_ins["bmi"] <= 26.29625
filtro = filtro1 & filtro2

In [61]:
df_ins.loc[filtro, "charges"].min()

1121.8739

In [62]:
df_ins.loc[filtro, "charges"].max()

38245.59327

In [63]:
df_ins.loc[filtro, "charges"].mean() #posso ripetere lo stesso procedimento per il 2°,3° e 4° quartile

np.float64(10360.662825492538)

## ESERCIZIO 4

Il dataset *pokemon.csv* contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari.
- Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
- È verosimile che la prima colonna dovrebbe essere un indice? *Si, è l'indice del Pokèdex*
- Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? *non combaciano perchè la prima colonna si riferisce al n° di pokèdex del pokèmon che, nel caso delle Mega (ad es.), si ripete. Non è una PK come l'indice default di Pandas*
- Se no, settare la prima colonna come indice.

- Quali sono i Pokémon leggendari?
- E quali sono i leggendari di tipo 1 Grass?
- E leggendari di tipo 1 Ice o Fire?
- Trasformiamo la colonna Name nell'indice;
- Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

In [64]:
file_path = "beginner_datasets/pokemon.csv"

In [65]:
poke = pd.read_csv(file_path)
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [66]:
poke.shape

(800, 13)

In [67]:
poke = poke.set_index("#")

In [68]:
poke

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [69]:
filtro_leg = poke["Legendary"] == True
leggendari = poke.loc[filtro_leg]
leggendari

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [70]:
filtro_leg = poke["Legendary"] == True
leggendari = poke.loc[filtro_leg]
filtro_grass = poke["Type 1"] == "Grass"
filtro = filtro_leg & filtro_grass
poke.loc[filtro]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [71]:
filtro_leg = poke["Legendary"] == True
leggendari = poke.loc[filtro_leg]
filtro_ice = poke["Type 1"] == "Ice"
filtro_fire = poke["Type 1"] == "Fire"
filtro = filtro_leg & (filtro_ice | filtro_fire)
poke.loc[filtro]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [72]:
poke_N = poke.set_index("Name")

In [73]:
poke_N

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [74]:
filtro_gen = poke["Generation"] == 1
filtro_hp = poke["HP"] < 60
filtro_at = poke["Attack"] > 50
filtro = filtro_gen & filtro_hp & filtro_at

In [75]:
poke.loc[filtro]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False

## ESERCIZIO 5

Dai dataset in piattaforma, carichiamo il file con i dati dei pub, circoli e locali in Italia, chiamato *Mappa-dei-pub-circoli-locali-in-Italia.csv*  
Nota: il dataset non ha un encoding UTF-8 ma Latin1;  
inoltre il separatore non è una virgola, ma un punto e virgola.  
Dunque per leggerlo dovremo aggiungere i parametri *encoding=* e *sep=*,  
ad esempio: pd.read_csv(file_path, encoding="latin1", sep=";") dove file_path è la posizione del file nel nostro calcolatore.
Esaminiamo il dataset:
- quanti dati ci sono in totale?
- quali sono i metadati?
- stampiamo il primo elemento
- stampiamo l'ultimo elemento
- riusciamo a stampare un elemento a caso?
- quali sono gli anni di inserimento presenti?
- quante enoteche ci sono, e come si chiamano?


L’ultimo punto potrebbe richiedere molti passaggi, perché i dati in questo dataset non hanno subìto un processo di pulizia e trasformazione adeguato!

In [110]:
file_path = "altri_dataset/Mappa-dei-pub-circoli-locali-in-Italia.csv"

In [111]:
pub = pd.read_csv(file_path, encoding="latin1", sep=";")

In [112]:
pub

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,ALA DI STURA,CITTA' METROPOLITANA DI TORINO,Piemonte,NaN,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2630,BARLETTA,BARLETTA-ANDRIA-TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2631,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2632,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2633,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [113]:
pub.columns

Index(['Comune', 'Provincia', 'Regione', 'Nome', 'Anno inserimento',
       'Data e ora inserimento', 'Identificatore in OpenStreetMap',
       'Longitudine', 'Latitudine'],
      dtype='object')

In [114]:
pub.head(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [115]:
pub.tail(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [116]:
pub.sample(1)

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
1720,SAN GIULIANO TERME,PISA,Toscana,Sali Scendi Pub,2015,2015-05-15T16:24:37Z,1409092156,10.433494,43.723447

In [117]:
anni = pub["Anno inserimento"].sort_values().unique()

In [118]:
anni

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [130]:
for nome in pub["Nome"]:
    nome = str(nome) # risolve il problema dati nulli
    nome = nome.lower() # evito la discriminante di "Enoteca" ed "enoteca"
    if ("enoteca" in nome) or ("vino" in nome) or ("vini" in nome) or ("vineria" in nome) or ("wine" in nome): # metto tutte le possibili parole chiave che mi vengono in mente
        print(nome)

enoteca con cucina""tirolin""
vineria del pozzo
ai troeggi (vino, birra e bruschette)
il dodo beer wine and food
concordia enoteca
wine & cofee sound
enoteca umberto
vinile disco pub
cortivo risto wine pub
enoteca ""al brindisi""
enoteca ""da massimo""
vinile lato b
la volpe e l'uva winebar
enoteca il violino rosso
bar vineria la combriccola
sottosopra food beer and wine
sottosopra food beer and wine
vini e cucina blasi
vini e cucina blasi
vini e olii
vini e olii
grotta del vino
rossodivino
beer & wine shop