## ESERCIZIO 1

Abbiamo una “lista di liste”: 

mat = [[ 0,  1,  2,  3,  4],  

[ 5,  6,  7,  8,  9],    

[10, 11, 12, 13, 14]] 

Che tipo di struttura dati potrebbe rappresentare? *può rappresentare un matrice 3x5* 

Notare che tutte le liste "interne" sono della stessa dimensione, come facciamo per accedere ad un elemento in particolare? *utilizzando l'input:" 
mat [n° riga] [n° colonna]*

In [2]:
mat = [[ 0, 1, 2, 3, 4],

[ 5, 6, 7, 8, 9],

[10, 11, 12, 13, 14]]

In [3]:
mat[2][3] # scrivendo mat[n° riga][n° colonna] riesco a visualizzare tutti gli elementi di mat

13

## ESERCIZIO 2

Importiamo il modulo *math* e proviamo a usare le funzioni:
- .sin()
- .cos()
- .factorial()

e la variabile .pi la riconoscete?

In [4]:
import math

In [10]:
math.pi

3.141592653589793

In [9]:
math.sin(math.pi/2)

1.0

In [12]:
math.cos(math.pi)

-1.0

In [13]:
math.factorial(3)

6

## ESERCIZIO 2

Proviamo a eseguire *math.degrees(math.pi)*

Qual è e cosa significa il risultato? *il risultato è 180° perchè è il corrispettivo in angolo di pi-greco*  
Per saperne di più su questa funzione possiamo usare *help(math.degrees)*

In [14]:
math.degrees(math.pi)

180.0

In [15]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

## ESERCIZIO 3

L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno:

vendite = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]  
trasformiamola in una Series di Pandas  
(casting): vendite = pd.Series(vendite)  
e rispondiamo alle domande del CEO della Object SpA:
- qual è stata la vendita massima mensile? E quella minima?
- quali sono le vendite mensili maggiori di 5000 oggetti? E quante ne sono?
- quali sono le vendite minori di 3000 oggetti?
- in media quanti oggetti sono stati venduti al mese?

In [2]:
import pandas as pd

In [3]:
vendite = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]

In [4]:
Vendite = pd.Series(vendite) # casting

In [5]:
max(Vendite) #vendita massima mensile

8150

In [6]:
min(Vendite) #vendita minima mensile

1280

In [7]:
for vendita in Vendite:
    if vendita > 5000:
        print (vendita)

5500
7200
6410
8150
7100
5350

In [14]:
vendite_magg_5000 = Vendite[Vendite > 5000]

In [15]:
vendite_magg_5000

1     5500
2     7200
8     6410
9     8150
10    7100
11    5350
dtype: int64

In [16]:
vendite_magg_5000.count()

np.int64(6)

In [17]:
len(vendite_magg_5000)

6

In [9]:
for vendita in Vendite:
    if vendita < 3000:
        print (vendita)

2000
1280
1900
2500

In [11]:
media_mensile = sum(Vendite)/Vendite.count()

In [12]:
print(media_mensile)

4634.166666666667

In [18]:
media_mensile = Vendite.mean()

In [19]:
print(media_mensile)

4634.166666666667

## ESERCIZIO 4

Consideriamo il seguente dizionario:  
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

Consideriamo ora la seguente Series:  
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],  
index=range(1997, 2005))

Possiamo accedere alle stesse informazioni nello stesso modo:  
fatturati_dict[1997]  
fatturati_series[1997]

Dunque qual è la differenza tra i due tipi di dato? *nel primo caso è un int mentre nel 2° è un numpy.int64*  
Cosa potremmo fare con la Series che non possiamo fare con il dizionario? *la Series è una struttura dati vettoriale basata su NumPy che consente operazioni matematiche, statistiche e selezioni logiche sull’intero insieme dei dati. Funzionalità non disponibili nei dizionari Python*

In [20]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

In [21]:
import pandas as pd

In [22]:
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
index=range(1997, 2005))

In [23]:
fatturati_series

1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

In [26]:
fatturati_dict[1997]

12000

In [27]:
fatturati_series[1997]

np.int64(12000)

In [28]:
type(fatturati_dict[1997])

int

In [29]:
type(fatturati_series[1997])

numpy.int64

## ESERCIZIO 5

L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in una Series:

import pandas as pd  
stipendi = pd.Series( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

L'azienda ci chiede di raddoppiare tutti gli stipendi;  
facciamolo in due modi:
- con un ciclo for
- con il masking

In [30]:
stipendi = pd.Series( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )

In [31]:
for stipendio in stipendi: #utilizzo il ciclo for
    stipendio = stipendio*2
    print(stipendio)

200
400
600
800
1000
1200
1400
1600
1800
2000

In [32]:
stipendi*2 #utilizzo il masking delle series in pandas

0     200
1     400
2     600
3     800
4    1000
5    1200
6    1400
7    1600
8    1800
9    2000
dtype: int64

## ESERCIZIO 6

Scrivere un programma che, data una lista di numeri, fornisca in output i tre numeri più grandi;  
gestire il caso in cui la lista sia più corta di tre, e quando uno o più dei numeri selezionati sono uguali.

In [22]:
numeri = [5, 10, 60, 40, 3, 71, 45, 53, 21, 80, 80, 96, 14, 12]
numeriset = set(numeri) #trasformo in set così elimino i duplicati
numeri = list(numeriset) #trasformo in lista così è ordinabile con sort()
if len(numeri) > 3:
    numeri.sort()
    print(numeri[-3:])
else:
    print("La lista è più corta di 3:")
    print(numeri)

[71, 80, 96]

## ESERCIZIO 7

Scrivere un programma che:
- in input acquisisce una lista di numeri e un numero K
- in output, dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K
- se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato.

In [4]:
import pandas as pd

In [7]:
lista_numeri = [5, 10, 60, 40, 3, 71, 45, 53, 21, 80, 80, 96, 14, 12]
K = int(input("Inserire numero:"))
lista_numeri = pd.Series(lista_numeri)
lista_numeri_big = lista_numeri[lista_numeri >= K]

if not lista_numeri_big.empty:
    print (lista_numeri_big.mean())
else:
    print("Nessun valore soddisfa la condizione")

Inserire numero: 50

73.33333333333333

## ESERCIZIO 8

Scrivere un programma che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica

Esempio, supponendo di avere il seguente input:  
numeri = [5, 2, 3, 4]  
L'output sarà:  
- '*****'  
- '**'  
- '***'  
- '****'

In [8]:
numeri = [5, 2, 3, 4]

In [18]:
for numero in numeri:
    print("*"*numero)

*****
**
***
****

## ESERCIZIO 9

Abbiamo una lista di codici fiscali:

lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
- trovare i codici fiscali che contengono "95", metterli in una lista, e alla fine stamparla;
- inoltre, per ognuno di essi, stampare a video i caratteri relativi al nome e quelli relativi al cognome.

In [19]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]

In [20]:
lista_cf = pd.Series(lista_cf)

In [21]:
print(lista_cf)

0    ABCDEF95G01A123B
1    GHIJKL91M02A321C
2    MNOPQR89S03A456D
3    STUVWX95Z04A654E
4    XYZABC01D05A789F
5    DEFGHI95J06A987G
dtype: object

In [29]:
lista_cf[1]

'GHIJKL91M02A321C'

In [31]:
cf = lista_cf[0]
anno = cf [6:8]
print(anno)

95

In [42]:
cf_95 = []
for cf in lista_cf:
    if cf[6:8] == "95":
        cf_95.append(cf)

print(cf_95)
for cf in cf_95:
        print("cognome:",cf[:3],",","nome:",cf[3:6])

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']
cognome: ABC , nome: DEF
cognome: STU , nome: VWX
cognome: DEF , nome: GHI

## ESERCIZIO 10

Abbiamo tre liste della stessa lunghezza, dove ogni elemento nella medesima posizione si riferisce ai dati dello stesso studente:

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]  
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]  
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

Stampare a video tutti e soli gli studenti che frequentano una prima edizione;  
non tutti i dati potrebbero essere necessari.

In [12]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]

In [16]:
for studente, edizione in zip(studenti, edizioni):
    if edizione == 1:
        print(studente)

Alex
Faith

 ## ESERCIZIO 11

Abbiamo una lista di stringhe di prezzi in dollari, che erroneamente sono stati scritti con il simbolo dell'euro:

prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

cambiare il simbolo dell'euro (€) in quello del dollaro ($) per ogni stringa nella lista;  
il risultato sarà memorizzato in un'altra lista.

In [17]:
prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

In [21]:
list2 = []
for prezzo in prezzi:
    list2.append(prezzo.replace("€", "$"))
print (list2)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

## ESERCIZIO 12

Abbiamo una lista di studenti:

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]  


vogliamo dividere gli studenti in due squadre per un campionato di Uno nel seguente modo:
- selezioneremo i nomi in posizione pari per un squadra
- i nomi in posizione dispari per l'altra.
Creiamo due liste per ogni squadra, e alla fine visualizziamole.

In [22]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [26]:
print (studenti[1])

Bob

In [32]:
squadra_pari = []
squadra_dispari = []

for i, nome in enumerate(studenti): #conto le posizioni degli elementi nella lista
    if i % 2 == 0:
        squadra_pari.append(nome)
    else:
        squadra_dispari.append(nome)

print("Squadra pari:", squadra_pari)
print("Squadra dispari:", squadra_dispari)

Squadra pari: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
Squadra dispari: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

## ESERCIZIO 13 

Abbiamo una lista con i guadagni degli ultimi 12 mesi (supponiamo da Gennaio a Dicembre):  
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

dobbiamo confrontare, stampando tutto a video:
- il guadagno di ogni mese con la media dei guadagni precedenti, e specificare nell'output se il guadagno attuale è maggiore o minore della media dei precedenti.


Esempio di un possibile output:  
Mese 1: 100 €  
Mese 2: 90 € (media prec: 100 € - il guadagno attuale è minore)  
Mese 3: 70 € (media prec: 95 € - il guadagno attuale è minore)