In [9]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\test\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

## ESERCIZIO 1

Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue:
- Quanti dati ci sono in totale?
- Quali sono i metadati?
- Stampiamo il primo elemento
- Stampiamo l'ultimo elemento
- Riusciamo a stampare cinque elementi a caso?
- Quali sono i colori disponibili?
- In media quanto pesano i prodotti (per questo esercizio, ignoriamo l'unità di misura, ma usiamo solo i valori della colonna relativa)?
- Quanto pesa il più leggero?
- Quanto pesa il più pesante?
- Quanti prodotti pesano più di 100?
- Quanto costano in media i prodotti (colonna DealerPrice)?
- Quali sono i quartili dei prezzi?
- Qual è il prezzo medio per i prodotti di colore blu?
- Qual è il prezzo medio per i prodotti di colore rosso o nero?
- Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
- Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
- Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? C'è un pattern? C'è qualche elemento che non lo segue?

In [10]:
import os

import dotenv
import pandas as pd
import sqlalchemy

dotenv.load_dotenv(dotenv_path="credenziali.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = (
    "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
)
print(connection_string)

db_engine = sqlalchemy.create_engine(connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [11]:
query = "SELECT * FROM dimproduct"
dp = pd.read_sql(query, db_engine)
dp

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [12]:
dp.shape

(606, 36)

In [14]:
dp.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [15]:
dp.head(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [16]:
dp.tail(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [17]:
dp.sample(5)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
502,503,FR-T67U-54,16.0,LB,CM,"LL Touring Frame - Blue, 54","Cuadro de paseo GB: azul, 54","Cadre de vélo de randonnée LL - bleu, 54",199.85,1,...,轻型一体式铝制车架，可以更直立的骑乘姿势进行环城游。我们开创性的设计提供了最佳舒适度。,يوفر هيكل الألومنيوم سميك الأطراف خفيف الوزن و...,מסגרת קלת משקל מאלומיניום חרוץ מספקת תנוחת רכי...,เฟรมอลูมิเนียมน้ำหนักเบา ทำให้ท่วงท่าในการขับข...,Leichter Aluminiumrahmen für aufrechte Sitzhal...,軽量接合アルミニウム フレームにより、街乗りに適したアップライトなライディング ポジションを...,"""Hafif alüminyum kadrosu, şehirde yaptığınız y...",2013-07-01,NaT,Current
577,578,BK-T44U-50,3.0,LB,CM,"Touring-2000 Blue, 50","Paseo: 2000, azul, 50","Vélo de randonnée 2000 bleu, 50",755.15,1,...,豪华的定制车座，确保您全天舒适骑乘，重新设计过的行李架上有足够的空间可添加驮篮和车筐。此自行...,إن مقعد الدراجة المخصص المصنوع من نسيج البلش ي...,המושב המשובח והמותאם אישית מאפשר רכיבה לאורך ה...,เบาะนั่งหุ้มพิเศษช่วยให้คุณขี่อย่างสบายตลอดทั้...,"""Der Polstersattel bietet Fahrkomfort für den ...",プラッシュ カスタム サドルは 1 日中乗っていたくなる快適さです。新設計の荷台には、パニエ...,"""Özel yapım konforlu sele ile tüm gün bisiklet...",2013-07-01,NaT,Current
160,161,MS-0253,NaN,None,None,Metal Sheet 2,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
418,419,RW-M423,17.0,None,None,LL Mountain Rear Wheel,,,38.96,1,...,适用于入门级骑乘者的备用山地车轮。,عجلة احتياطية مخصصة للقيادة في الجبال لراكبي ا...,גלגל חלופי לרכיבה הררית לרוכב המתחיל.,ล้ออะไหล่จักรยานภูเขาสำหรับนักปั่นระดับเริ่มต้น,Ersatzrad für Mountainbike-Einsteiger.,初心者向けの交換用マウンテン ホイール。,Başlangıç seviyesinde sürücüler için yedek dağ...,2012-07-01,2008-12-27,None
353,354,BK-M68S-42,1.0,LB,CM,"Mountain-200 Silver, 42","Montaña: 200, plateada, 42","VTT 200 argent, 42",1117.86,1,...,适用于环境恶劣的野外骑乘。可应对各种比赛的完美赛车。使用与 Mountain-100 相同的...,لقيادة المحترفين في المناطق الريفية. دراجة مُث...,לרכיבה רצינית בשטחים נידחים. מתאימים לכל רמה ש...,สำหรับการขี่ในเส้นทางผจญภัย เหมาะที่สุดสำหรับ...,Mountainbike für Profis. Perfekt für alle Schw...,バック カントリーまたは全レベルの競技用で、Mountain-100 と同じ HL フレーム...,Gerçek arazi sürüşü. Tüm yarışma seviyeleri iç...,2012-07-01,2008-12-27,None

In [18]:
dp["Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [19]:
dp["Weight"].mean()

np.float64(56.1932269503546)

In [20]:
dp["Weight"].min()

2.12

In [21]:
dp["Weight"].max()

1050.0

In [23]:
dp["Weight"].describe()

count     282.000000
mean       56.193227
std       158.000652
min         2.120000
25%         2.680000
50%        15.420000
75%        24.130000
max      1050.000000
Name: Weight, dtype: float64

In [30]:
filtro = dp["Weight"] > 100
dp.loc[filtro].shape # I prodotti che pesano più di 100 sono 18

(28, 36)

In [33]:
dp["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [42]:
filtro = dp["Color"] == "Blue"
dp.loc[filtro, "DealerPrice"].mean()

np.float64(516.0631785714286)

In [43]:
dp.groupby("Color")["DealerPrice"].mean()

Color
Black           474.823688
Blue            516.063179
Grey             75.000000
Multi            29.358233
NA               33.882386
Red             705.963284
Silver          668.156360
Silver/Black     38.411143
White             5.547000
Yellow          550.868478
Name: DealerPrice, dtype: float64

In [45]:
filtro_red = dp["Color"] == "Red"
filtro_black = dp["Color"] == "Black"
filtro = filtro_red | filtro_black
dp.loc[filtro, "DealerPrice"].mean().round()

np.float64(550.0)

In [46]:
dp.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [50]:
filtro_tg = dp["Size"] == "42"
filtro_weight = dp["Weight"] > 10
filtro = filtro_tg & filtro_weight
dp.loc[filtro, "DealerPrice"].max()

2039.994

In [52]:
dp["Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [56]:
filtro_tg = dp["Size"] == "42"
filtro_weight = dp["Weight"] > 10
filtro_color= dp["Color"] == "Silver"
filtro = filtro_tg & filtro_weight & filtro_color
dp.loc[filtro, ["EnglishProductName" , "StandardCost"]]

            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [60]:
dp["DealerPrice"].tail(20)

586    461.694
587    461.694
588    461.694
589    461.694
590    338.994
591    338.994
592    338.994
593    338.994
594    338.994
595    323.994
596    323.994
597    323.994
598    323.994
599    323.994
600     32.394
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, dtype: float64

In [67]:
last20 = dp.tail(20)
last20.loc[:, ["DealerPrice", "StandardCost"]] # Noto che negli ultimi 3 items il DP < SC, che non è il massimo

     DealerPrice  StandardCost
586      461.694        419.78
587      461.694        419.78
588      461.694        419.78
589      461.694        419.78
590      338.994        308.22
591      338.994        308.22
592      338.994        308.22
593      338.994        308.22
594      338.994        308.22
595      323.994        294.58
596      323.994        294.58
597      323.994        294.58
598      323.994        294.58
599      323.994        294.58
600       32.394         23.97
601       60.744         44.95
602       72.894         53.94
603      323.994        343.65
604      323.994        343.65
605      323.994        343.65

## ESERCIZIO 2

Dai dataset in piattaforma, carichiamo il file con i dati dei pub, circoli e locali in Italia, chiamato *Mappa-dei-pub-circoli-locali-in-Italia.csv*  
Nota: il dataset non ha un encoding UTF-8 ma Latin1;  
inoltre il separatore non è una virgola, ma un punto e virgola.  
Dunque per leggerlo dovremo aggiungere i parametri encoding= e sep=,  
ad esempio: pd.read_csv(file_path, encoding="latin1", sep=";") dove file_path è la posizione del file nel nostro calcolatore.

Esaminiamo il dataset:
- quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
- quante attività ci sono nella provincia di Vicenza?
- quante attività ci sono in Lazio e Abruzzo assieme?

In [84]:
file_path = "../altri_dataset/Mappa-dei-pub-circoli-locali-in-Italia.csv"
pub = pd.read_csv(file_path, encoding="latin1", sep=";") 
pub

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,ALA DI STURA,CITTA' METROPOLITANA DI TORINO,Piemonte,NaN,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2630,BARLETTA,BARLETTA-ANDRIA-TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2631,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2632,BISCEGLIE,BARLETTA-ANDRIA-TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2633,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [88]:
pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2635 entries, 0 to 2634
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Comune                           2635 non-null   object
 1   Provincia                        2635 non-null   object
 2   Regione                          2635 non-null   object
 3   Nome                             2337 non-null   object
 4   Anno inserimento                 2635 non-null   int64
 5   Data e ora inserimento           2635 non-null   object
 6   Identificatore in OpenStreetMap  2635 non-null   int64
 7   Longitudine                      2635 non-null   float64
 8   Latitudine                       2635 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 185.4+ KB

In [90]:
filtro_long = (pub["Longitudine"] > 9) & (pub["Longitudine"] < 10)
filtro_lat = (pub["Latitudine"] > 45) & (pub["Latitudine"] < 46)
filtro = filtro_long & filtro_lat

In [94]:
attivita = pub.loc[filtro, "Nome"]

In [97]:
attivita.shape

(306,)

In [99]:
pub["Provincia"].unique()

array(['ALTRO', "CITTA' METROPOLITANA DI TORINO", 'VERCELLI', 'NOVARA',
       'CUNEO', 'ASTI', 'ALESSANDRIA', 'AOSTA', 'IMPERIA', 'SAVONA',
       "CITTA' METROPOLITANA DI GENOVA", 'LA SPEZIA', 'VARESE', 'COMO',
       'SONDRIO', "CITTA' METROPOLITANA DI MILANO", 'BERGAMO', 'BRESCIA',
       'PAVIA', 'CREMONA', 'MANTOVA', 'BOLZANO', 'TRENTO', 'VERONA',
       'VICENZA', 'BELLUNO', 'TREVISO', "CITTA' METROPOLITANA DI VENEZIA",
       'PADOVA', 'ROVIGO', 'UDINE', 'GORIZIA', 'TRIESTE', 'PIACENZA',
       'PARMA', 'REGGIO EMILIA', 'MODENA',
       "CITTA' METROPOLITANA DI BOLOGNA", 'FERRARA', 'RAVENNA', "FORLI'",
       'PESARO E URBINO', 'ANCONA', 'MACERATA', 'ASCOLI PICENO',
       'MASSA-CARRARA', 'LUCCA', 'PISTOIA',
       "CITTA' METROPOLITANA DI FIRENZE", 'LIVORNO', 'PISA', 'AREZZO',
       'SIENA', 'GROSSETO', 'PERUGIA', 'TERNI', 'VITERBO', 'RIETI',
       "CITTA' METROPOLITANA DI ROMA CAPITALE", 'LATINA', 'FROSINONE',
       'CASERTA', 'BENEVENTO', "CITTA' METROPOLITANA DI NAPOLI",
       'AVELLINO', 'SALERNO', "L'AQUILA", 'TERAMO', 'PESCARA', 'CHIETI',
       'CAMPOBASSO', 'FOGGIA', "CITTA' METROPOLITANA DI BARI", 'TARANTO',
       'BRINDISI', 'LECCE', 'POTENZA', 'MATERA', 'COSENZA', 'CATANZARO',
       "CITTA' METROPOLITANA DI REGGIO CALABRIA", 'TRAPANI',
       "CITTA' METROPOLITANA DI PALERMO",
       "CITTA' METROPOLITANA DI MESSINA", 'AGRIGENTO', 'CALTANISSETTA',
       "CITTA' METROPOLITANA DI CATANIA", 'RAGUSA', 'SIRACUSA', 'SASSARI',
       'NUORO', 'CAGLIARI', 'PORDENONE', 'ORISTANO', 'BIELLA', 'LECCO',
       'LODI', 'RIMINI', 'PRATO', 'CROTONE', 'VERBANIA', 'OLBIA-TEMPIO',
       'MEDIO CAPIDANO', 'CARBONIA IGLESIAS', 'MONZA-BRIANZA', 'FERMO',
       'BARLETTA-ANDRIA-TRANI'], dtype=object)

In [100]:
provincia = pub["Provincia"] == "VARESE"

In [101]:
pub.loc[provincia, "Nome"].shape

(65,)

In [102]:
pub["Regione"].unique()

array(['ALTRO', 'Piemonte', "Valle d'Aosta", 'Liguria', 'Lombardia',
       'Trentino-Alto Adige', 'Veneto', 'Friuli-Venezia Giulia',
       'Emilia-Romagna', 'Marche', 'Toscana', 'Umbria', 'Lazio',
       'Campania', 'Abruzzo', 'Molise', 'Puglia', 'Basilicata',
       'Calabria', 'Sicilia', 'Sardegna'], dtype=object)

In [103]:
Reg_Laz = pub["Regione"] == "Lazio"
Reg_Abr = pub["Regione"] == "Abruzzo"

In [108]:
filtro = Reg_Laz | Reg_Abr

In [109]:
pub.loc[filtro, "Nome"].shape

(337,)

## ESERCIZIO 7

Abbiamo un DataFrame di dipendenti:  
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105],  
                            'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],  
                            'department_id': [1, 2, 1, 2, 3] })

E un DataFrame di dipartimenti:  
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3],  
                                'department_name': ['HR', 'IT', 'Finance'],  
                                'location': ['New York', 'San Francisco', 'Chicago'] })

Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione *.merge()*
- Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente;
- poi unire i due dataset mediante il metodo .join()

Ci sono differenze nel risultato? Quali? Perché?

In [110]:
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105],
'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
'department_id': [1, 2, 1, 2, 3] })

departments_df = pd.DataFrame({ 'department_id': [1, 2, 3],
'department_name': ['HR', 'IT', 'Finance'],
'location': ['New York', 'San Francisco', 'Chicago'] })

In [111]:
employees_df

   employee_id     name  department_id
0          101    Alice              1
1          102      Bob              2
2          103  Charlie              1
3          104    David              2
4          105     Emma              3

In [112]:
departments_df

   department_id department_name       location
0              1              HR       New York
1              2              IT  San Francisco
2              3         Finance        Chicago

In [113]:
pd.merge(
    left=employees_df,
    right=departments_df,
    left_on="department_id",
    right_on="department_id",
    how="inner"
)

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [114]:
joindf = pd.merge(
    left=employees_df,
    right=departments_df,
    left_on="department_id",
    right_index=True,
    how="inner"
)

In [115]:
joindf

,department_id,employee_id,name,department_id_x,department_id_y,department_name,location
0,1,101,Alice,1,2,IT,San Francisco
1,2,102,Bob,2,3,Finance,Chicago
2,1,103,Charlie,1,2,IT,San Francisco
3,2,104,David,2,3,Finance,Chicago