## ESERCIZIO 1 e 2

Abbiamo 25 studenti; memorizzare questo dato in una variabile e stamparla a video.

In [7]:
num_studenti=25

In [8]:
print(num_studenti)

25

## ESERCIZIO 3

Arrivano altri 3 studenti; memorizzare questo dato in un'altra variabile.

In [11]:
studenti_new=3

In [12]:
print(studenti_new)

3

## ESERCIZIO 4: 

Abbiamo 25 studenti; memorizzare questo dato in una variabile.

Arrivano altri 3 studenti; memorizzare questo dato in un'altra variabile.

Creare un'altra variabile ancora che conterrà la somma delle prime due, poi stamparla a video.

In [26]:
num_studenti_new=num_studenti + studenti_new

In [27]:
print(num_studenti_new)

28

## ESERCIZIO 5 
Creare una variabile che contiene la stringa "Epicode", quindi stamparla a video.

In [16]:
school="Epicode"

In [17]:
print(school)

Epicode

## ESERCIZIO 6

Abbiamo la variabile: x = 10 
Incrementarla di 2 e poi moltiplicarla per 3
stampare tutti i passaggi a video.

In [18]:
x = 10

In [22]:
print(x+2)

12

In [24]:
print((x+2)*3)

36

## ESERCIZIO 7

Creiamo le seguenti stringhe, e per ognuna di esse stampiamo a video la lunghezza con la funzione len(): 

- str1 = "Windows"
- str2 = "Excel" 
- str3 = "Powerpoint"
- str4 = "Word"

In [28]:
str1="Windows"
str2="Excel"
str3="Powerpoint"
str4="Word"

In [30]:
print(len(str1))

7

In [31]:
print(len(str2))

5

In [32]:
print(len(str3))

10

In [33]:
print(len(str4))

4

## ESERCIZIO 8

Calcolare e stampare a video quanti secondi ci sono in un anno non bisestile.

In [35]:
tot_giorni_anno = 365

In [36]:
tot_ore_al_giorno = 24

In [37]:
tot_minuti_in_un_ora = 60

In [38]:
tot_secondi_in_un_minuto = 60

In [39]:
tot_secondi_anno_non_bisestile = tot_secondi_in_un_minuto * tot_minuti_in_un_ora * tot_ore_al_giorno * tot_giorni_anno

In [40]:
print(tot_secondi_anno_non_bisestile)

31536000

## ESERCIZIO 9

Abbiamo la seguente stringa: 

my_string = "I am studying Python" 

- Trasformarla in modo che tutti i caratteri siano maiuscoli (uppercase)
- Trasformarla in modo che tutti i caratteri siano minuscoli (lowercase)
- Sostituire la sottostringa "Python" con la stringa "a lot"
- Usare il metodo .strip(); cambia qualcosa? Perché? *Non cambia nulla perchè la funzione toglie gli spazi ad inizio e fine stringa. In questo caso anche l'originale non aveva spazi ad inizio e fine, perciò nothing change*
- Usare il metodo .split() per trovare tutte le parole (token)

In [41]:
my_string="I am studying Python"

In [42]:
my_string.lower()

'i am studying python'

In [43]:
my_string.upper()

'I AM STUDYING PYTHON'

In [44]:
my_string.replace("Python","a lot")

'I am studying a lot'

In [45]:
my_string.strip()

'I am studying Python'

In [48]:
my_string.split()

['I', 'am', 'studying', 'Python']

## ESERCIZIO 10

Abbiamo due liste, una di studenti e una di corsi: 

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 

corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

Tenendo conto che i dati sono in corrispondenza posizionale, leggiamo con attenzione le due liste. 

- Sapendo che Emma segue Data Analyst
- Faith segue Backend
- Grace segue Frontend
- Henry segue Cybersecurity

  verifichiamo quali dati mancano, aggiungiamo i dati mancanti uno alla volta con il metodo .append()

In [49]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]

In [50]:
# aggiungiamo i corsi mancanti uno alla volta
corsi.append("Frontend")        # per Grace
corsi.append("Cybersecurity")   # per Henry

In [51]:
print(corsi)

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Frontend', 'Cybersecurity']

In [54]:
len(studenti)==len(corsi) #verifco che n°studenti = n°corsi

True